body,
hr {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    padding: 0 calc(20px - (100vw - 100%)) 0 0;
}

* {
    box-sizing: border-box;
}


.container {
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    max-width: 100%;
    background-color: bisque;


}

.icon {
    opacity: 0;
    transition: 0.3s;

}

.container:hover {
    cursor: pointer;
}


.container:hover .icon {
    opacity: 1;
    transition: all .5s ease-in-out;

}

/*
.container:hover input:not([checked]) + label h2  {
    color: #30722b;
    transition: color .5s ease-in-out;
}
*/



.accordion {
    padding: 0;
}


.foto {
    margin-bottom: 1em;
    width: 50%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-height: 0;
    transition: max-height 1s ease-in-out;

}

h2:hover {
    color: crimson;

}


.main_title {
    text-align: left;
    margin: 0;
    padding: 0.5em;
}


label {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


label h2 {
    text-align: left;
    padding-left: 1em;
    width: 90%;
}


.container input {
    display: none;
}

.container label {
    cursor: pointer;
    z-index: 100;
}

.container input:checked + label ~ .foto {
    max-height: 100vh;
}

.container input:hover + label ~ .foto {
    max-height: 100vh;
}


.container input:checked + label .icon {
    transform: rotate(45deg);
}

.container input:hover + label .icon {
    transform: rotate(45deg);
}
