body,
hr {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/*Полоса прокрутки не cдвинает аккордеон*/
html {
    margin-right: calc(-1 * (100vw - 100%));
}

* {
    box-sizing: border-box;
}


.container {
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    max-width: 100%;
    background-color: bisque;
}

.icon {
    opacity: 0;
    transition: 0.3s;

}

.container:hover {
    cursor: pointer;
}


.container:hover .icon {
    opacity: 1;
    transition: all .5s ease-in-out;
}


.container input:not(:checked) + label h2 {
    color: #078b78;
    transition: color .2s ease-in-out;
}

.container input:active:hover + label h2 {
    color: #078b78;
    transition: color .2s ease-in-out;
}

.container:hover input + label h2 {
    color: black;
}



.accordion {
    padding: 0;
}


.foto {
    margin-bottom: 1em;
    width: 50%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-height: 0;
    transition: max-height 1s ease-in-out;


}


.main_title {
    text-align: left;
    margin: 0;
    padding: 0.5em;
}

.title_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


label {}


label h2 {
    text-align: left;
    padding-left: 1em;
    width: 90%;
}


.container input {
    display: none;
}

.container label {
    cursor: pointer;
    z-index: 100;
}

.container input:checked + label .foto {
    max-height: 100vh;
}

.container input:hover + label .foto {
    max-height: 100vh;
}

.container .foto:hover {
    max-height: 100vh;
}


.container input:checked + label .icon {
    transform: rotate(45deg);
}

.container input:hover + label .icon {
    transform: rotate(45deg);
}



@media (min-width: 320px) {
    .container {
        width: 100%;
        font-size: 0.8em;
        min-height: 100vh;
    }

    .foto {
        width: 70%;
    }

}

@media (min-width: 820px) {
    .container {
        width: 100%;
        font-size: 1em;
        min-height: 100vh;
    }

    .foto {
        width: 50%;
    }
}


@media (min-width: 1200px) {
    .container {
        padding: 1em;
        margin: 0 auto;
        text-align: center;
        width: 50%;
        min-height: 100vh;
    }
    .foto {
        width: 45%;
    }
}

media (hover: none) {
  {
    max-height: 100vh;
}
}

